.section_busca {
    max-width: 1024px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #fff;
    position: relative;
}

.section_busca img {
    width: 30px;
    height: auto;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.input {
    width: 100%;
    padding: 10px 10px 10px 50px;
    border-radius: 20px;
    border: 1px solid #f3f3f3;
    background-color: #f3f3f3;
    outline: none;
}

.input:focus {
    border: 1px solid #daa520;
    box-shadow: 0 0 5px rgba(218, 165,32,0.5);
}

.input::placeholder {
    font-size: 14px;
}

@media (max-width: 425px){
    .section_busca {
        max-width: 100%;
    }

    .input::placeholder {
        font-size: 13px;
    }
}